.new-mail-btn{
    height: 56px;
    width: 144px;
    background-color: #c2e7ff;
    border-radius: 16px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.email-folder-list {
    padding: 10px;
}

.folder-list {
    list-style-type: none;
    padding: 5px;
}

.folder-list li a {
    text-decoration: none; /* Remove underline */
    color: black; /* Default link color */
    padding: 2px;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
}

.folder-list li a:hover {
    background-color: lightgray; /* Background color on hover */
}

.unread-count {
    font-weight: bold;
}
