.new-mail-btn{
    height: 56px;
    width: 144px;
    background-color: #c2e7ff;
    border-radius: 16px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.folder-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  }

  .folder-list li a {
    text-decoration: none; /* Remove underline */
}

.item-content {
    align-items: center;
    display: flex;
    height: 32px;
    padding: 0 12px 0 26px;
    transition: margin .15s cubic-bezier(0.4, 0, 0.2, 1), padding .15s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0 16px 16px 0;
    font-weight: 400;
    justify-content: space-between;
  }

  .item-content:hover {
    text-decoration: none;
    background-color: rgba(32, 33, 36, 0.059);
  }
  
  .active {
    background-color: #d2e3fc;
    color: #001d35;
    font-weight: 700;
    text-decoration: none;
  }

  .icon-item {
    width: 20px;
    height: 20px;
    margin-right: 16px;
  }

  .item-folder{
    display: flex;
    align-items: center;
  }

  .count-folder{
    font-size: 13px;
  }

  .bold{
    font-weight: bold;
  }
  
  .name-item{
    font-size: .875rem;
  }



